<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-white fw-bold" href="#" style="font-size: 1.5rem;">Пошук вакансій</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'homepage' %}" style="font-size: 1.2rem;">Головна</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'signup' %}" style="font-size: 1.2rem;">Зареєструватися</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'login' %}" style="font-size: 1.2rem;">Увійти</a>
                </li>
                <li class="nav-item">
                    <form action="{% url 'logout' %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-link nav-link text-white" style="font-size: 1.2rem;">Вихід</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
