{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="container">
    {% if user.foto %}
        <p><img class="foto-circle" src="{{ user.foto.url }}" alt="User Foto"></p>
    {% else %}
        <p><img class="foto-circle" src="{% static 'img/cat3.png' %}" alt="Default Foto"></p>
    {% endif %}

    <p><strong>Username:</strong> {{ user.username }}</p>
    
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Phone Number:</strong> {{ user.phone_number }}</p>
    <p><strong>Address:</strong> {{ user.address }}</p>
    <p><strong>Role:</strong> {{ user.role }}</p>

    

</div>
{% endblock %}