{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4 mb-3">Резюме-білдер</h1>
        <p class="lead text-muted">Легко створюйте професійні резюме та знаходьте найкращі вакансії для своєї кар'єри.</p>
    </div>

    <div class="d-flex justify-content-center mt-4">
        <a href="{% url 'jobs-list' %}" class="btn btn-outline-dark btn-lg me-3">
            <i class="bi bi-briefcase text-primary"></i> Переглянути вакансії
        </a>
        <a href="{% url 'resumes-list' %}" class="btn btn-outline-dark btn-lg me-3">
            <i class="bi bi-file-earmark-person text-primary"></i> Переглянути резюме
        </a>
        <a href="{% url 'add-skill' %}" class="btn btn-outline-dark btn-lg">
            <i class="bi bi-plus-circle text-primary"></i> Додати навичку
        </a>
    </div>

    <div class="mt-5">
        <h2 class="text-center">Що ми пропонуємо?</h2>
        <div class="row mt-4">
            <div class="col-md-4 text-center">
                <i class="bi bi-pencil-square display-1 text-primary"></i>
                <h4 class="mt-3">Зручний конструктор</h4>
                <p class="text-muted">Швидко створюйте резюме з використанням наших шаблонів.</p>
            </div>
            <div class="col-md-4 text-center">
                <i class="bi bi-search display-1 text-primary"></i>
                <h4 class="mt-3">Пошук вакансій</h4>
                <p class="text-muted">Знайдіть вакансії, що відповідають вашим професійним навичкам.</p>
            </div>
            <div class="col-md-4 text-center">
                <i class="bi bi-people-fill display-1 text-primary"></i>
                <h4 class="mt-3">Мережа контактів</h4>
                <p class="text-muted">Знайомтеся з роботодавцями та розширюйте свої можливості.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
